.countainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    .head{
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 10px;
        width: 100%;
        display: flex;
        justify-content:end;
        .btn{
            a{
            display:flex;
            gap: 5px;
            }
        }
    }
}