.countainer{
    margin: 30px 20px;
   
    display: flex;
    justify-content: center;
    padding: 10px;
    .wrapper{
        display: flex;
        gap: 15px;
        
        overflow: auto;
        a{
            background-color:white;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 10px;
            font-weight: 700;
            font-size: 14px;
        }
        .activeLink{
            color: var(--primary);
            border: 2px solid var(--primary);
            transition: 0.3s all ease-in-out;
        }
    }
 
    
}