.linksUnAuth{
    display: flex;
    gap: 20px;
    color: black;
    font-weight: 600;
    transition: 0.4s;
    .active{
        color: var(--primary);
        &::after{
            transition:all  0.1s ease-in-out;
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--primary);
            transform: scaleX(0);
        }
        
        &::after{
            transform: scaleX(1);
            color: var(--primary);
        }
    }
    span{ 
      position: relative;
        &::after{
            transition:all  0.1s ease-in-out;
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--primary);
            transform: scaleX(0);
        }
        &:hover{
            color: var(--primary);
            transition:all  0.1s ease-in-out
        }
        &:hover::after{
            transform: scaleX(1);
            
        }
    }
    
    
}

.buttonUnAuth{
        padding: 30px;
        height: 100%;
        display: flex;
        cursor: pointer;
        font-weight: 500;
        color: var(--light);
        background-color: var(--primary);
        align-items: center;
        justify-content: center;
        gap: 5px;
        &:hover{
            // background-color: #06BBCC
            opacity: 0.8;
            transition: all 0.2s ease-out;
        }
        
    }
.Burger{
    display: none;
    &:hover{
        color: var(--primary);
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }
}
@media(max-width:600px){
    .linksUnAuth{
        display: none;
    }
    .Burger{
        display:inline-block ;
        .iconUnAuth{
            &:hover{
            color: var(--primary);
            transition: 0.2s ease-in-out;
            cursor: pointer;
            }
        }
        .MenuMobile{
            position: fixed;
            transition: 0.4s all ease-in-out;
            top: 70px;
            width: 100vw;
            height: 280px;
            right: -100vw;
            display:flex;
            color: black;
            flex-direction: column;
            box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
            align-items: center;
            background-color: white;
            gap: 30px;
            padding: 30px 10px;
            a{
                font-weight: 600;
                font-size: 20px;
                width: 100%;
                padding: 5px;
                &:hover{
                    background-color: var(--primary);
                    transition: 0.1s;
                    color:white;
                    letter-spacing: 1px;
                }
            }
            
        }
    }
   .buttonUnAuth{
    padding: 10px;
    // background-color: aqua;
   }

}