.Advertisme{
    display: flex;
    gap: 30px;
    justify-content: center;

    .item{
        height: 230px;
        width: 230px;
        background-color: #dbf2f376;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px;
        cursor: pointer;
        .icon{
            color: var(--primary);
            
          
        }
        .title{
            font-weight: 900;
            font-size: 15px;
            letter-spacing: 1px;
        }
        .parag{
                color: gray;
                text-transform: capitalize;
                line-height: 20px;
                     
        }
        transition:all 0.2s ease-in-out;
        &:hover{
            background-color: var(--primary);
            color: white!important;
            transform: scale(1.1);
            .parag{
                color: white;
            }
            .icon{
                color: white;
              
            }
            .title{
               color: white;
            }
        }
    }

}
@media (max-width: 767px) {
    /* CSS rules for screens between 600px and 767px */
    .Advertisme{
        padding-left: 15%;
       
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
  }