.UploadePhoto{
    width: 100%;
    background-color: rgba(212, 237, 250, 0.651);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    img{
            height:400px;
            width: 100%;
            object-fit: contain;
    }
    .head{
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        .right{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    .body{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}